# deps
node_modules/

# build
dist/
out/

# coverage
coverage/

# env
.env
.env*
!.env.example

# os
.DS_Store

# logs
*.log
pnpm-debug.log*

# next
.next/

# ts
*.tsbuildinfo

# tests
tests/.next/
tests/app/(payload)/admin/importMap.js
tests/next-env.d.ts
tests/node_modules/
tests/payload.config.ts
tests/playwright/
tests/**/*.d.ts

# devenv
.devenv*
devenv.local.nix
devenv.local.yaml
